header{
    display: flex;
    justify-content:space-between;
    color: #EBEBEB;
    margin-bottom: 2.5em;
}
.header_nav_ul{
    gap: 25px;
    display: flex;
}
.header_nav_ul a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    &:visited::after{
        content: "";
        height: 0.2em;
        width: 0.2em;
        border-radius: 50%;
        background-color: orange;
        position: absolute;
    }
    &:hover::after{
        content: "";
        height: 0.4em;
        width: 0.4em;
        border-radius: 50%;
        background-color: rgb(47, 43, 36);
        position: absolute;
    }
}
.header_logo{
   
}

.header_logo img{
    width: 125px;
    height: 35px;

}