@use "../variables/fonts";

.section1{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "card1 card1 card2 card3"
    "card1 card1 card4 card5";
    & article{
        
        display: flex;
        flex-direction: column;
        color: white;
        gap: 1em;
        padding: 2em;
        border-radius: 1.3em;
        justify-content: space-between;
    }
    & article:nth-child(1){
        grid-area: card1;
        & h3{
            font-size: fonts.$h3-med;
        }
        background-image: url("https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1400&q=80"),
        ;
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    & article:nth-child(2){
        grid-area: card2;
        & h3{
            font-size: fonts.$h3-sm;
        }
        background-image: url("https://images.unsplash.com/photo-1569017388730-020b5f80a004?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"),
        linear-gradient(rgba(7, 27, 62, 0.954), rgba(26, 45, 214, 0.133))
        ;
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    & article:nth-child(3){
        grid-area: card3;
        & h3{
            font-size: fonts.$h3-sm;
        }
        background-color: rgb(216, 163, 65);
    }
    & article:nth-child(4){
        grid-area: card4;
        & h3{
            font-size: fonts.$h3-sm;
        }
        background-image: url("https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"),
        linear-gradient(rgba(40, 2, 32, 0.954), rgba(89, 7, 92, 0.733))
        ;
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    & article:nth-child(5){
        grid-area: card5;
        & h3{
            font-size: fonts.$h3-sm;
        }
        background-image: url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80"),
        linear-gradient(rgba(50, 11, 47, 0.954), rgba(101, 13, 70, 0.133))
        ;
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

